In [105]:
import pandas as pd
import glob

In [106]:
!wget https://danielng.org/nets213/PRAWScrapings.zip

--2021-04-30 23:32:02--  https://danielng.org/nets213/PRAWScrapings.zip
Resolving danielng.org (danielng.org)... 99.84.253.83, 99.84.253.57, 99.84.253.70, ...
Connecting to danielng.org (danielng.org)|99.84.253.83|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 65381892 (62M) [application/zip]
Saving to: ‘PRAWScrapings.zip.2’

PRAWScrapings.zip.2 100%[===================>]  62.35M   147MB/s    in 0.4s

2021-04-30 23:32:03 (147 MB/s) - ‘PRAWScrapings.zip.2’ saved [65381892/65381892]

In [107]:
! unzip -o PRAWScrapings.zip 1>/dev/null
# ! mv /content/hw8_2021sp/* /content/

In [108]:
!rm -r /content/sample_data

rm: cannot remove '/content/sample_data': No such file or directory

In [109]:
posts = pd.read_csv("/content/17-07-2020/AITA_year17-07-2020_.csv")
posts2 = pd.read_csv("/content/29-06-2020/AITA_day_year29-06-2020_.csv")

In [110]:
mergedDf = pd.DataFrame()

In [111]:
for stri in glob.glob("/content/*/*.csv"):
  print(stri)
  newDf = pd.read_csv(stri)
  postMerge = mergedDf.append(newDf, ignore_index=True)
postMerge = postMerge.drop_duplicates()
postMerge = postMerge.dropna()

/content/14-07-2020/AITA_day14-07-2020_.csv
/content/14-07-2020/AITA_week14-07-2020_.csv
/content/14-07-2020/AITA_year14-07-2020_.csv
/content/14-07-2020/AITA_month14-07-2020_.csv
/content/14-07-2020/AITA_all14-07-2020_.csv
/content/09-07-2020/AITA_day09-07-2020_.csv
/content/09-07-2020/AITA_all09-07-2020_.csv
/content/09-07-2020/AITA_month09-07-2020_.csv
/content/09-07-2020/AITA_week09-07-2020_.csv
/content/09-07-2020/AITA_year09-07-2020_.csv
/content/04-07-2020/AITA_day_month04-07-2020_.csv
/content/04-07-2020/AITA_day04-07-2020_.csv
/content/04-07-2020/AITA_all04-07-2020_.csv
/content/04-07-2020/AITA_week04-07-2020_.csv
/content/04-07-2020/AITA_day_week04-07-2020_.csv
/content/04-07-2020/AITA_year04-07-2020_.csv
/content/04-07-2020/AITA_month04-07-2020_.csv
/content/04-07-2020/AITA_day_year04-07-2020_.csv
/content/04-07-2020/AITA_day_day04-07-2020_.csv
/content/04-07-2020/AITA_day_all04-07-2020_.csv
/content/12-07-2020/AITA_month12-07-2020_.csv
/content/12-07-2020/AITA_day12-07-2020_.csv
/content/12-07-2020/AITA_year12-07-2020_.csv
/content/12-07-2020/AITA_all12-07-2020_.csv
/content/12-07-2020/AITA_week12-07-2020_.csv
/content/08-07-2020/AITA_month08-07-2020_.csv
/content/08-07-2020/AITA_week08-07-2020_.csv
/content/08-07-2020/AITA_day08-07-2020_.csv
/content/08-07-2020/AITA_year08-07-2020_.csv
/content/08-07-2020/AITA_all08-07-2020_.csv
/content/17-07-2020/AITA_all17-07-2020_.csv
/content/17-07-2020/AITA_week17-07-2020_.csv
/content/17-07-2020/AITA_month17-07-2020_.csv
/content/17-07-2020/AITA_year17-07-2020_.csv
/content/17-07-2020/AITA_day17-07-2020_.csv
/content/29-06-2020/AITA_day_week29-06-2020_.csv
/content/29-06-2020/AITA_day_day29-06-2020_.csv
/content/29-06-2020/AITA_day_month29-06-2020_.csv
/content/29-06-2020/AITA_day_year29-06-2020_.csv
/content/29-06-2020/AITA_day_all29-06-2020_.csv
/content/27-06-2020/AITA_day_day27-06-2020_.csv
/content/27-06-2020/AITA_day_year27-06-2020_.csv
/content/27-06-2020/AITA_day_week27-06-2020_.csv
/content/27-06-2020/AITA_day_all27-06-2020_.csv
/content/27-06-2020/AITA_day_month27-06-2020_.csv
/content/05-07-2020/AITA_month05-07-2020_.csv
/content/05-07-2020/AITA_year05-07-2020_.csv
/content/05-07-2020/AITA_all05-07-2020_.csv
/content/05-07-2020/AITA_day05-07-2020_.csv
/content/05-07-2020/AITA_week05-07-2020_.csv
/content/15-07-2020/AITA_week15-07-2020_.csv
/content/15-07-2020/AITA_all15-07-2020_.csv
/content/15-07-2020/AITA_day15-07-2020_.csv
/content/15-07-2020/AITA_year15-07-2020_.csv
/content/15-07-2020/AITA_month15-07-2020_.csv
/content/03-07-2020/AITA_day_month03-07-2020_.csv
/content/03-07-2020/AITA_day_day03-07-2020_.csv
/content/03-07-2020/AITA_day_year03-07-2020_.csv
/content/03-07-2020/AITA_day_week03-07-2020_.csv
/content/03-07-2020/AITA_day_all03-07-2020_.csv
/content/28-06-2020/AITA_day_all28-06-2020_.csv
/content/28-06-2020/AITA_day_year28-06-2020_.csv
/content/28-06-2020/AITA_day_week28-06-2020_.csv
/content/28-06-2020/AITA_day_day28-06-2020_.csv
/content/28-06-2020/AITA_day_month28-06-2020_.csv
/content/13-07-2020/AITA_day13-07-2020_.csv
/content/13-07-2020/AITA_month13-07-2020_.csv
/content/13-07-2020/AITA_all13-07-2020_.csv
/content/13-07-2020/AITA_week13-07-2020_.csv
/content/13-07-2020/AITA_year13-07-2020_.csv
/content/02-07-2020/AITA_day_week02-07-2020_.csv
/content/02-07-2020/AITA_day_day02-07-2020_.csv
/content/02-07-2020/AITA_day_all02-07-2020_.csv
/content/02-07-2020/AITA_day_year02-07-2020_.csv
/content/02-07-2020/AITA_day_month02-07-2020_.csv
/content/16-07-2020/AITA_day16-07-2020_.csv
/content/16-07-2020/AITA_year16-07-2020_.csv
/content/16-07-2020/AITA_all16-07-2020_.csv
/content/16-07-2020/AITA_month16-07-2020_.csv
/content/16-07-2020/AITA_week16-07-2020_.csv

In [112]:
postMerge = postMerge[postMerge.flair != "UPDATE"]
postMerge = postMerge[postMerge.flair != "META"]
postMerge = postMerge.rename(columns={"id":"orig_id"})

In [113]:
cleanedFile = postMerge[["flair", "title", "body", "score", "comms_num", "timestamp"]]

cleanedFile['flair'].unique()

array(['Asshole', 'Not the A-hole', 'Everyone Sucks', 'No A-holes here',
       'Not enough info'], dtype=object)

In [114]:
cleanedFile = postMerge[["flair", "title", "body", "score", "comms_num", "timestamp"]]
cleanedFile = cleanedFile.drop_duplicates()
cleanedFile = cleanedFile[cleanedFile.flair != "Not enough info"]
cleanedFile.reset_index(inplace=True)
cleanedFile = cleanedFile.rename(columns={"index": "rID"})
cleanedFile['flair'] = cleanedFile['flair'].replace({"Asshole": "YTA", "Not the A-hole": "NTA", "No A-holes here": "NAH", "Everyone Sucks": "ESH"})

In [115]:
cleanedFile['flair'].value_counts()

NTA    711
YTA    179
NAH     48
ESH     24
Name: flair, dtype: int64

In [116]:
cleanedFile

     rID flair  ... comms_num            timestamp
0      0   YTA  ...      2062  2020-07-15 15:48:00
1      1   NTA  ...       771  2020-07-12 06:47:52
2      2   NTA  ...      2842  2020-07-15 03:05:19
3      4   NTA  ...      2673  2020-07-13 15:37:49
4      5   NTA  ...      1370  2020-07-13 21:10:05
..   ...   ...  ...       ...                  ...
957  981   NTA  ...        30  2020-07-10 00:25:37
958  982   YTA  ...        26  2020-07-09 19:18:52
959  983   NTA  ...        33  2020-07-09 18:09:22
960  984   NAH  ...        39  2020-07-09 17:47:51
961  987   NTA  ...        19  2020-07-15 16:39:45

[962 rows x 7 columns]

In [117]:
cleanedFile.to_csv("cleanedDatasetPRAW.csv")